/* ヘッダー */
.icon {
    padding: 0 14px;
}
.spacer {
    flex: 1 1 auto;
}
.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

/* 検索パネル */
.search-select-field {
    width: 100px;
}
.search-text-field {
    width: 275;
}
.search-text-short-field{
    width: 100px;
}
.search-text-middle-field{
    width: 150px;
}
.search-text-long-field{
    width: 300px;
}
.align-right {
    text-align: end;
    margin-right: 2%;
}

/* テーブル表示 */
table {
    width: 100%;
}
th.mat-sort-header-sorted {
    color: black;
}
.yubi {
    cursor : pointer;
}
tr:hover {
	background-color: #dfdfdf; 	/*リンクにマウスが乗ったら背景色を変更する*/
}