<mat-toolbar>
  <mat-toolbar-row>
    <span>顧客管理</span>
    <span class="spacer"></span>
    <mat-icon class="icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-accordion>
  <mat-expansion-panel [expanded]="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>search</mat-icon>条件　：　{{searchCondition}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- [start] 条件フォーム -->
    <div>
      <mat-form-field class="search-select-field">
        <mat-label>都道府県</mat-label>
        <mat-select [formControl]="searchPrefectureCtrl">
          <mat-option *ngFor="let prefecture of searchPrefectures" [value]="prefecture">
            {{prefecture}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-select-field">
        <mat-label>顧客種別</mat-label>
        <mat-select [formControl]="searchClientClassCtrl">
          <mat-option *ngFor="let clientClass of searchClientClasses" [value]="clientClass">
            {{clientClass}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-text-field">
        <input matInput placeholder="学校名" [formControl]="searchNameCtrl">
      </mat-form-field>
      <mat-form-field class="search-text-field">
        <input matInput placeholder="顧客担当者" [formControl]="searchChargeCtrl">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="search-text-short-field">
        <input matInput placeholder="郵便番号" [formControl]="searchPostalCodeCtrl">
      </mat-form-field>
      <mat-form-field class="search-text-long-field">
        <input matInput placeholder="住所" [formControl]="searchAddressCtrl">
      </mat-form-field>
      <mat-form-field class="search-text-middle-field">
        <input matInput placeholder="電話番号" [formControl]="searchTelCtrl">
      </mat-form-field>
      <mat-form-field class="search-text-middle-field">
        <input matInput placeholder="FAX番号" [formControl]="searchFaxCtrl">
      </mat-form-field>
    </div>
    <div class="align-right">
      <button mat-raised-button color="primary" (click)="search()">検索</button>
    </div>
    <!-- [end] 条件フォーム -->
  </mat-expansion-panel>
</mat-accordion>

<br/>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <!-- 学校名 -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>学校名</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>
  <!-- 郵便番号 -->
  <ng-container matColumnDef="postalCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>〒</th>
    <td mat-cell *matCellDef="let element">{{element.postalCode}}</td>
  </ng-container>
  <!-- 住所 -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>住所</th>
    <td mat-cell *matCellDef="let element">{{element.address}}</td>
  </ng-container>
  <!-- 電話番号 -->
  <ng-container matColumnDef="tel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>電話</th>
    <td mat-cell *matCellDef="let element">{{element.tel}}</td>
  </ng-container>
  <!-- FAX番号 -->
  <ng-container matColumnDef="fax">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>FAX</th>
    <td mat-cell *matCellDef="let element">{{element.fax}}</td>
  </ng-container>
  <!-- Eメール -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Eメール</th>
    <td mat-cell *matCellDef="let element">{{element.email}}</td>
  </ng-container>
  <!-- 都道府県 -->
  <ng-container matColumnDef="prefecture">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>都道府県</th>
    <td mat-cell *matCellDef="let element">{{element.prefecture}}</td>
  </ng-container>
  <!-- 種別 -->
  <ng-container matColumnDef="clientClass">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>種別</th>
    <td mat-cell *matCellDef="let element">{{element.clientClass}}</td>
  </ng-container>  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)" class="yubi"></tr>
</table>
<p *ngIf="elementData.length==0">　データなし</p>
